In [1]:
import pandas as pd
import numpy as np
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [2]:
df = pd.read_csv("data/milknew.csv")
df.describe()

,pH,Temprature,Taste,Odor,Fat,Turbidity,Colour
count,1059.000000,1059.000000,1059.000000,1059.000000,1059.000000,1059.000000,1059.000000
mean,6.630123,44.226629,0.546742,0.432483,0.671388,0.491029,251.840415
std,1.399679,10.098364,0.498046,0.495655,0.469930,0.500156,4.307424
min,3.000000,34.000000,0.000000,0.000000,0.000000,0.000000,240.000000
25%,6.500000,38.000000,0.000000,0.000000,0.000000,0.000000,250.000000
50%,6.700000,41.000000,1.000000,0.000000,1.000000,0.000000,255.000000
75%,6.800000,45.000000,1.000000,1.000000,1.000000,1.000000,255.000000
max,9.500000,90.000000,1.000000,1.000000,1.000000,1.000000,255.000000

In [3]:
df.head()

    pH  Temprature  Taste  Odor  Fat   Turbidity  Colour   Grade
0  6.6          35      1     0     1          0     254    high
1  6.6          36      0     1     0          1     253    high
2  8.5          70      1     1     1          1     246     low
3  9.5          34      1     1     0          1     255     low
4  6.6          37      0     0     0          0     255  medium

In [4]:
df["Grade"].value_counts()

Grade
low       429
medium    374
high      256
Name: count, dtype: int64

In [5]:
df["Grade"] = df["Grade"].replace({"low": 0, "medium": 1, "high": 2})

In [6]:
df.head(10)

    pH  Temprature  Taste  Odor  Fat   Turbidity  Colour  Grade
0  6.6          35      1     0     1          0     254      2
1  6.6          36      0     1     0          1     253      2
2  8.5          70      1     1     1          1     246      0
3  9.5          34      1     1     0          1     255      0
4  6.6          37      0     0     0          0     255      1
5  6.6          37      1     1     1          1     255      2
6  5.5          45      1     0     1          1     250      0
7  4.5          60      0     1     1          1     250      0
8  8.1          66      1     0     1          1     255      0
9  6.7          45      1     1     0          0     247      1

In [7]:
X = df.iloc[:, :-1]
y = df.iloc[:, -1]

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [9]:
scaler = StandardScaler()

X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [10]:
rforest = RandomForestClassifier(n_estimators=100, n_jobs=12)

rforest.fit(X_train, y_train)
y_predict = rforest.predict(X_test)
accuracy_score(y_test, y_predict)

0.9962264150943396